<%= turbo_frame_tag :employee do %>
  <div class="content">
    <div class="max-w-3xl mx-auto">
      <div class="bg-white shadow sm:rounded-lg">
        <div class="px-4 py-5 sm:p-6">
          <h1 class="text-2xl font-bold mb-6">Nuevo Empleado</h1>
          <%= render 'shared/employees/form' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
