<tr class="nested-fields" data-purchases-target="detailRow">
  <td>
    <%= f.association :product,
        collection: @products,
        label: false,
        label_method: lambda { |product| "#{product.category} - #{product.name}" },
        value_method: :id,
        input_html: {
          class: "form-select",
          data: {
            purchases_target: "productSelect",
            action: "change->purchases#updatePrice"
          }
        } %>
  </td>
  <td>
    <%= f.input :quantity,
        label: false,
        input_html: {
          class: "form-control",
          value: f.object.quantity || 1,
          min: 1,
          data: {
            purchases_target: "quantity",
            action: "change->purchases#updateSubtotal"
          }
        } %>
  </td>
  <td>
    <%= f.input :unit_price,
        label: false,
        input_html: {
          class: "form-control",
          data: {
            purchases_target: "price",
            action: "change->purchases#updateSubtotal"
          }
        } %>
  </td>
  <td>
    <span data-purchases-target="subtotal">$0.00</span>
  </td>
  <td>
    <%= link_to_remove_association "Eliminar", f,
        class: "btn btn-danger btn-sm",
        data: { action: "click->purchases#updateTotal" } %>
  </td>
</tr>
