<%= turbo_frame_tag :purchase do %>
<div class="content">
  <div class="card">
    <div class="card-header">
      <h2>New Purchase</h2>
    </div>
    <div class="card-body">
      <%= render 'form', purchase: @purchase %>
    </div>
  </div>
</div>
<% end %>
