<div class="map-info-window">
  <h6 style="font-weight: 600; color: #334155; margin-bottom: 0.5rem;">
    <%= customer.name %>
  </h6>
  <p style="color: #64748b; margin-bottom: 0.25rem;">
    <i class="fas fa-map-marker-alt" style="margin-right: 0.5rem;"></i>
    <%= customer.address %>
  </p>
  <p style="color: #64748b; margin-bottom: 0.25rem;">
    <i class="fas fa-phone" style="margin-right: 0.5rem;"></i>
    <%= customer.phone %>
  </p>
  <p style="color: #64748b; margin-bottom: 0;">
    <i class="fas fa-envelope" style="margin-right: 0.5rem;"></i>
    <%= customer.email %>
  </p>
</div> 
