<div class="map-info-window">
  <h6 style="font-weight: 600; margin-bottom: 0.5rem;"><%= customer.name %></h6>
  <p style="margin-bottom: 0.25rem;"><%= customer.address %></p>
  <p style="color: #666; font-size: 0.9rem; margin-bottom: 0;"><%= customer.company.name %></p>
</div> 
