<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Nuevo Cliente</h2>
    </div>
    <div class="card-body">
      <%= render 'form', customer: @customer %>
    </div>
  </div>
</div>
