<%= turbo_frame_tag :customer do %>
  <div class="content">
    <div class="card">
      <div class="card-header">
        <h2>New Customer</h2>
      </div>
      <div class="card-body">
        <%= render 'form', customer: @customer %>
      </div>
    </div>
  </div>
<% end %>
