<div class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa-solid fa-store"></i> Purchase Orders
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-cogs"></i> Sales Orders
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa-solid fa-warehouse"></i> Inventory
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa-brands fa-product-hunt"></i> Products
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa-solid fa-person"></i>Customers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-users"></i> Users
      </a>
    </li>

  </ul>
</div>
<div class="content">
  <!-- Your dashboard content goes here -->
  <h1>Dashboard</h1>
</div>
