
<!-- Topbar Start -->
<div class="container-fluid bg-dark">
<div class="row py-2 px-lg-5">
<div class="col-lg-6 text-center text-lg-left mb-2 mb-lg-0">
<div class="d-inline-flex align-items-center text-white">
<small><i class="fa fa-phone-alt mr-2"></i>+1 234 567 8901</small>
<small class="px-3">|</small>
<small><i class="fa fa-envelope mr-2"></i>support@pricinganalytics.ai</small>
</div>
</div>
<div class="col-lg-6 text-center text-lg-right">
<div class="d-inline-flex align-items-center">
<a class="text-white px-2" href="">
<i class="fab fa-facebook-f"></i>
</a>
<a class="text-white px-2" href="">
<i class="fab fa-linkedin-in"></i>
</a>
<a class="text-white px-2" href="">
<i class="fab fa-instagram"></i>
</a>
</div>
</div>
</div>
</div>
<!-- Topbar End -->
<!-- Navbar Start -->
<div class="container-fluid p-0">
<nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-lg-5 justify-content-between">
<div>
<a class="navbar-brand ml-lg-3" href="#">
<h1 class="m-0 display-5 text-uppercase text-primary">Smarter Pricing &amp; Inventory Solutions</h1>
</a>
</div>
<div class="d-flex">
<div class="collapse navbar-collapse px-lg-3">
<a class="btn btn-primary py-2 px-4 d-none d-lg-block rounded" href="">Log In as Owner</a>
</div>
<div class="collapse navbar-collapse px-lg-3">
<a class="btn btn-primary py-2 px-4 d-none d-lg-block rounded" href="">Log In as Employee</a>
</div>
<div class="collapse navbar-collapse px-lg-3">
<a class="btn btn-primary py-2 px-4 d-none d-lg-block rounded" href="">Sign Up</a>
</div>

</div></nav>
</div>
<!-- Navbar End -->
<!-- Header Start -->
<div class="jumbotron jumbotron-fluid mb-5">
<div class="container text-center py-5">
<h1 class="text-primary mb-4">Smarter Pricing &amp; Inventory Solutions</h1>
<h1 class="text-white display-3 mb-5">Empower Your Business with PricingAnalytics</h1>
</div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid py-5">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-5 pb-4 pb-lg-0">
<img alt="" class="img-fluid w-100" src="img/about.jpg"/>
<div class="bg-primary text-dark text-center p-4">
<h3 class="m-0">Real-Time Data, Unmatched Insights</h3>
</div>
</div>
<div class="col-lg-7">
<h6 class="text-primary text-uppercase font-weight-bold">About Us</h6>
<h1 class="mb-4">Smarter Pricing &amp; Inventory Solutions</h1>
<p class="mb-4">Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<div class="d-flex align-items-center pt-2">
<button class="btn-play" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-target="#videoModal" data-toggle="modal" type="button">
<span></span>
</button>
<h5 class="font-weight-bold m-0 ml-4">Designed for Scalability</h5>
</div>
</div>
</div>
</div>
<!-- Video Modal -->
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="videoModal" role="dialog" tabindex="-1">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<button aria-label="Close" class="close" data-dismiss="modal" type="button">
<span aria-hidden="true">×</span>
</button>
<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
<iframe allow="autoplay" allowscriptaccess="always" class="embed-responsive-item" id="video" src=""></iframe>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- About End -->
<!--  Quote Request Start -->
<div class="container-fluid bg-secondary my-5">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-7 py-5 py-lg-0">
<h6 class="text-primary text-uppercase font-weight-bold">Get A Quote</h6>
<h1 class="mb-4">Smarter Pricing &amp; Inventory Solutions</h1>
<p class="mb-4">Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<div class="row">
<div class="col-sm-4">
<h1 class="text-primary mb-2" data-toggle="counter-up">Smarter Pricing &amp; Inventory Solutions</h1>
<h6 class="font-weight-bold mb-4">SKilled Experts</h6>
</div>
<div class="col-sm-4">
<h1 class="text-primary mb-2" data-toggle="counter-up">Smarter Pricing &amp; Inventory Solutions</h1>
<h6 class="font-weight-bold mb-4">Happy Clients</h6>
</div>
<div class="col-sm-4">
<h1 class="text-primary mb-2" data-toggle="counter-up">Smarter Pricing &amp; Inventory Solutions</h1>
<h6 class="font-weight-bold mb-4">Complete Projects</h6>
</div>
</div>
</div>
<div class="col-lg-5">
<div class="bg-primary py-5 px-4 px-sm-5">
<form class="py-5">
<div class="form-group">
<input class="form-control border-0 p-4" placeholder="Your Name" required="required" type="text"/>
</div>
<div class="form-group">
<input class="form-control border-0 p-4" placeholder="Your Email" required="required" type="email"/>
</div>
<div class="form-group">
<select class="custom-select border-0 px-4" style="height: 47px;">
<option selected="">Select A Service</option>
<option value="1">Service 1</option>
<option value="2">Service 1</option>
<option value="3">Service 1</option>
</select>
</div>
<div>
<button class="btn btn-dark btn-block border-0 py-3" type="submit">Get A Quote</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<!-- Quote Request Start -->
<!-- Services Start -->
<div class="container-fluid pt-5">
<div class="container">
<div class="text-center pb-2">
<h6 class="text-primary text-uppercase font-weight-bold">Our Services</h6>
<h1 class="mb-4">Smarter Pricing &amp; Inventory Solutions</h1>
</div>
<div class="row pb-3">
<div class="col-lg-3 col-md-6 text-center mb-5">
<div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<i class="fa fa-2x fa-plane text-dark pr-3"></i>
<h6 class="text-white font-weight-medium m-0">Air Freight</h6>
</div>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<a class="border-bottom text-decoration-none" href="">Read More</a>
</div>
<div class="col-lg-3 col-md-6 text-center mb-5">
<div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<i class="fa fa-2x fa-ship text-dark pr-3"></i>
<h6 class="text-white font-weight-medium m-0">Ocean Freight</h6>
</div>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<a class="border-bottom text-decoration-none" href="">Read More</a>
</div>
<div class="col-lg-3 col-md-6 text-center mb-5">
<div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<i class="fa fa-2x fa-truck text-dark pr-3"></i>
<h6 class="text-white font-weight-medium m-0">Land Transport</h6>
</div>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<a class="border-bottom text-decoration-none" href="">Read More</a>
</div>
<div class="col-lg-3 col-md-6 text-center mb-5">
<div class="d-flex align-items-center justify-content-center bg-primary mb-4 p-4">
<i class="fa fa-2x fa-store text-dark pr-3"></i>
<h6 class="text-white font-weight-medium m-0">Cargo Storage</h6>
</div>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<a class="border-bottom text-decoration-none" href="">Read More</a>
</div>
</div>
</div>
</div>
<!-- Services End -->
<!-- Features Start -->
<div class="container-fluid bg-secondary my-5">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-5">
<img alt="" class="img-fluid w-100" src="img/feature.jpg"/>
</div>
<div class="col-lg-7 py-5 py-lg-0">
<h6 class="text-primary text-uppercase font-weight-bold">Why Choose Us</h6>
<h1 class="mb-4">Smarter Pricing &amp; Inventory Solutions</h1>
<p class="mb-4">Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<ul class="list-inline">
<li>Dynamic pricing strategies tailored to market trends.</li></ul>
<a class="btn btn-primary mt-3 py-2 px-4" href="">Learn More</a>
</div>
</div>
</div>
</div>
<!-- Features End -->
<!-- Pricing Plan Start -->
<div class="container-fluid pt-5">
<div class="container">
<div class="text-center pb-2">
<h6 class="text-primary text-uppercase font-weight-bold">Pricing Plan</h6>
<h1 class="mb-4">Smarter Pricing &amp; Inventory Solutions</h1>
</div>
<div class="row">
<div class="col-md-4 mb-5">
<div class="bg-secondary">
<div class="text-center p-4">
<h1 class="display-4 mb-0">Smarter Pricing &amp; Inventory Solutions</h1>
</div>
<div class="bg-primary text-center p-4">
<h3 class="m-0">Real-Time Data, Unmatched Insights</h3>
</div>
<div class="d-flex flex-column align-items-center py-4">
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<a class="btn btn-primary py-2 px-4 my-2" href="">Order Now</a>
</div>
</div>
</div>
<div class="col-md-4 mb-5">
<div class="bg-secondary">
<div class="text-center p-4">
<h1 class="display-4 mb-0">Smarter Pricing &amp; Inventory Solutions</h1>
</div>
<div class="bg-primary text-center p-4">
<h3 class="m-0">Real-Time Data, Unmatched Insights</h3>
</div>
<div class="d-flex flex-column align-items-center py-4">
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<a class="btn btn-primary py-2 px-4 my-2" href="">Order Now</a>
</div>
</div>
</div>
<div class="col-md-4 mb-5">
<div class="bg-secondary">
<div class="text-center p-4">
<h1 class="display-4 mb-0">Smarter Pricing &amp; Inventory Solutions</h1>
</div>
<div class="bg-primary text-center p-4">
<h3 class="m-0">Real-Time Data, Unmatched Insights</h3>
</div>
<div class="d-flex flex-column align-items-center py-4">
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<a class="btn btn-primary py-2 px-4 my-2" href="">Order Now</a>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Pricing Plan End -->
<!-- Team Start -->
<div class="container-fluid pt-5">
<div class="container">
<div class="text-center pb-2">
<h6 class="text-primary text-uppercase font-weight-bold">Delivery Team</h6>
<h1 class="mb-4">Smarter Pricing &amp; Inventory Solutions</h1>
</div>
<div class="row">
<div class="col-lg-3 col-md-6">
<div class="team card position-relative overflow-hidden border-0 mb-5">
<img alt="" class="card-img-top" src="img/team-1.jpg"/>
<div class="card-body text-center p-0">
<div class="team-text d-flex flex-column justify-content-center bg-secondary">
<h5 class="font-weight-bold">Designed for Scalability</h5>
<span>Designation</span>
</div>
<div class="team-social d-flex align-items-center justify-content-center bg-primary">
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
<a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="team card position-relative overflow-hidden border-0 mb-5">
<img alt="" class="card-img-top" src="img/team-2.jpg"/>
<div class="card-body text-center p-0">
<div class="team-text d-flex flex-column justify-content-center bg-secondary">
<h5 class="font-weight-bold">Designed for Scalability</h5>
<span>Designation</span>
</div>
<div class="team-social d-flex align-items-center justify-content-center bg-primary">
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
<a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="team card position-relative overflow-hidden border-0 mb-5">
<img alt="" class="card-img-top" src="img/team-3.jpg"/>
<div class="card-body text-center p-0">
<div class="team-text d-flex flex-column justify-content-center bg-secondary">
<h5 class="font-weight-bold">Designed for Scalability</h5>
<span>Designation</span>
</div>
<div class="team-social d-flex align-items-center justify-content-center bg-primary">
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
<a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
</div>
<div class="col-lg-3 col-md-6">
<div class="team card position-relative overflow-hidden border-0 mb-5">
<img alt="" class="card-img-top" src="img/team-4.jpg"/>
<div class="card-body text-center p-0">
<div class="team-text d-flex flex-column justify-content-center bg-secondary">
<h5 class="font-weight-bold">Designed for Scalability</h5>
<span>Designation</span>
</div>
<div class="team-social d-flex align-items-center justify-content-center bg-primary">
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-outline-dark btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
<a class="btn btn-outline-dark btn-social" href="#"><i class="fab fa-instagram"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Team End -->
<!-- Testimonial Start -->
<div class="container-fluid py-5">
<div class="container">
<div class="text-center pb-2">
<h6 class="text-primary text-uppercase font-weight-bold">Testimonial</h6>
<h1 class="mb-4">Smarter Pricing &amp; Inventory Solutions</h1>
</div>
<div class="owl-carousel testimonial-carousel">
<div class="position-relative bg-secondary p-4">
<i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
<div class="d-flex align-items-center mb-3">
<img alt="" class="img-fluid rounded-circle" src="img/testimonial-1.jpg" style="width: 60px; height: 60px;"/>
<div class="ml-3">
<h6 class="font-weight-semi-bold m-0">Client Name</h6>
<small>- Profession</small>
</div>
</div>
<p class="m-0">Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
</div>
<div class="position-relative bg-secondary p-4">
<i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
<div class="d-flex align-items-center mb-3">
<img alt="" class="img-fluid rounded-circle" src="img/testimonial-2.jpg" style="width: 60px; height: 60px;"/>
<div class="ml-3">
<h6 class="font-weight-semi-bold m-0">Client Name</h6>
<small>- Profession</small>
</div>
</div>
<p class="m-0">Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
</div>
<div class="position-relative bg-secondary p-4">
<i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
<div class="d-flex align-items-center mb-3">
<img alt="" class="img-fluid rounded-circle" src="img/testimonial-3.jpg" style="width: 60px; height: 60px;"/>
<div class="ml-3">
<h6 class="font-weight-semi-bold m-0">Client Name</h6>
<small>- Profession</small>
</div>
</div>
<p class="m-0">Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
</div>
<div class="position-relative bg-secondary p-4">
<i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
<div class="d-flex align-items-center mb-3">
<img alt="" class="img-fluid rounded-circle" src="img/testimonial-4.jpg" style="width: 60px; height: 60px;"/>
<div class="ml-3">
<h6 class="font-weight-semi-bold m-0">Client Name</h6>
<small>- Profession</small>
</div>
</div>
<p class="m-0">Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
</div>
</div>
</div>
</div>
<!-- Testimonial End -->
<!-- Blog Start -->
<div class="container-fluid pt-5">
<div class="container">
<div class="text-center pb-2">
<h6 class="text-primary text-uppercase font-weight-bold">Our Blog</h6>
<h1 class="mb-4">Smarter Pricing &amp; Inventory Solutions</h1>
</div>
<div class="row">
<div class="col-md-6 mb-5">
<div class="position-relative">
<img alt="" class="img-fluid w-100" src="img/blog-1.jpg"/>
<div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle" style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
<h4 class="font-weight-bold mb-n1">Features That Drive Growth</h4>
<small class="text-white text-uppercase">Jan</small>
</div>
</div>
<div class="bg-secondary" style="padding: 30px;">
<div class="d-flex mb-3">
<div class="d-flex align-items-center">
<img alt="" class="rounded-circle" src="img/user.jpg" style="width: 40px; height: 40px;"/>
<a class="text-muted ml-2" href="">John Doe</a>
</div>
<div class="d-flex align-items-center ml-4">
<i class="far fa-bookmark text-primary"></i>
<a class="text-muted ml-2" href="">Web Design</a>
</div>
</div>
<h4 class="font-weight-bold mb-3">Features That Drive Growth</h4>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<a class="border-bottom border-primary text-uppercase text-decoration-none" href="">Read More <i class="fa fa-angle-right"></i></a>
</div>
</div>
<div class="col-md-6 mb-5">
<div class="position-relative">
<img alt="" class="img-fluid w-100" src="img/blog-2.jpg"/>
<div class="position-absolute bg-primary d-flex flex-column align-items-center justify-content-center rounded-circle" style="width: 60px; height: 60px; bottom: -30px; right: 30px;">
<h4 class="font-weight-bold mb-n1">Features That Drive Growth</h4>
<small class="text-white text-uppercase">Jan</small>
</div>
</div>
<div class="bg-secondary" style="padding: 30px;">
<div class="d-flex mb-3">
<div class="d-flex align-items-center">
<img alt="" class="rounded-circle" src="img/user.jpg" style="width: 40px; height: 40px;"/>
<a class="text-muted ml-2" href="">John Doe</a>
</div>
<div class="d-flex align-items-center ml-4">
<i class="far fa-bookmark text-primary"></i>
<a class="text-muted ml-2" href="">Web Design</a>
</div>
</div>
<h4 class="font-weight-bold mb-3">Features That Drive Growth</h4>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<a class="border-bottom border-primary text-uppercase text-decoration-none" href="">Read More <i class="fa fa-angle-right"></i></a>
</div>
</div>
</div>
</div>
</div>
<!-- Blog End -->
<!-- Footer Start -->
<div class="container-fluid bg-dark text-white mt-5 py-5 px-sm-3 px-md-5">
<div class="row pt-5">
<div class="col-lg-7 col-md-6">
<div class="row">
<div class="col-md-6 mb-5">
<h3 class="text-primary mb-4">Real-Time Data, Unmatched Insights</h3>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<div class="d-flex justify-content-start mt-4">
<a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-twitter"></i></a>
<a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
<a class="btn btn-outline-light btn-social mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
<a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-instagram"></i></a>
</div>
</div>
<div class="col-md-6 mb-5">
<h3 class="text-primary mb-4">Real-Time Data, Unmatched Insights</h3>
<div class="d-flex flex-column justify-content-start">
<a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
<a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
<a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Services</a>
<a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Pricing Plan</a>
<a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
</div>
</div>
</div>
</div>
<div class="col-lg-5 col-md-6 mb-5">
<h3 class="text-primary mb-4">Real-Time Data, Unmatched Insights</h3>
<p>Leverage cutting-edge analytics to stay ahead in a competitive market.</p>
<div class="w-100">
<div class="input-group">
<input class="form-control border-light" placeholder="Your Email Address" style="padding: 30px;" type="text"/>
<div class="input-group-append">
<button class="btn btn-primary px-4">Sign Up</button>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: #3E3E4E !important;">
<div class="row">
<div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
<p class="m-0 text-white">At PricingAnalytics, we help businesses unlock the potential of data to optimize pricing strategies, manage inventory in real-time, and make smarter, faster decisions with our intuitive analytical dashboard.</p>
</div>
<div class="col-lg-6 text-center text-md-right">
<ul class="nav d-inline-flex">
<li class="nav-item">AI-powered recommendations to maximize profitability.</li>
<li class="nav-item">Scalable solutions for businesses of any size.</li>
<li class="nav-item">Dynamic pricing strategies tailored to market trends.</li>
<li class="nav-item">Seamless integration with existing inventory systems.</li>
</ul>
</div>
</div>
</div>
<!-- Footer End -->
<!-- Back to Top -->
<a class="btn btn-lg btn-primary back-to-top" href="#"><i class="fa fa-angle-double-up"></i></a>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/counterup/counterup.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<!-- Contact Javascript File -->
<script src="mail/jqBootstrapValidation.min.js"></script>
<script src="mail/contact.js"></script>
<!-- Template Javascript -->
<script src="js/main.js"></script>
