<%= turbo_frame_tag :product do %>
  <div class="content">
    <%= render 'form', 
        title: 'Edit Product',
        submit_text: 'Update Product',
        submit_message: 'Update product.' %>
  </div>
<% end %>
