<%= turbo_frame_tag :product do %>
  <div class="content">
    <%= render 'form', 
        title: 'Editar Producto',
        submit_text: 'Actualizar Producto',
        submit_message: 'Actualizar producto.' %>
  </div>
<% end %>
