<%= turbo_frame_tag :product do %>
  <div class="content">
    <%= render 'form', 
        title: 'Nuevo Producto',
        submit_text: 'Crear Producto',
        submit_message: 'Crear nuevo producto.' %>
  </div>
<% end %>
