<%= turbo_frame_tag :product do %>
  <div class="content">
    <%= render 'form', 
        title: 'New Product',
        submit_text: 'Create Product',
        submit_message: 'Create new product.' %>
  </div>
<% end %>
