<%= turbo_frame_tag :supplier do %>
  <div class="content">
    <%= render 'form', 
        title: 'Editar Proveedor',
        submit_text: 'Actualizar Proveedor',
        submit_message: 'Actualizar proveedor.' %>
  </div>
<% end %>
