<%= turbo_frame_tag :sale do %>
  <div class="content">
    <div class="card">
      <div class="card-header">
        <h2>Editar Venta</h2>
      </div>
      <div class="card-body">
        <%= render 'form', sale: @sale %>
      </div>
    </div>
  </div>
<% end %>
